# Telegram Bot Configurations
BOT_TOKEN="8828992662:AAFJ6u9J_AxIzT9F4Id7DQFt83QZlxPV9xQ"
REQUIRED_CHANNEL_ID="-1004298673450"
CHANNEL_INVITE_LINK="https://t.me/aliandarianbot"

# Database Configurations (MySQL Container URL)
# For local dev host can be 'localhost'. Inside docker-compose it must be 'mysql_db'
DB_HOST="mysql_db"
DB_PORT=3306
DB_NAME="match_bot_db"
DB_USER="match_bot_user"
DB_PASSWORD="match_bot_password"

# SQLAlchemy URL for async connection (using aiomysql)
DATABASE_URL="mysql+aiomysql://match_bot_user:match_bot_password@mysql_db:3306/match_bot_db"

# Redis Configurations
REDIS_HOST="redis_cache"
REDIS_PORT=6379
REDIS_PASSWORD="redis_secure_pass123"

# Web server & Webhook Configurations
WEBHOOK_PATH="/api/v1/webhook"
# Set this to your secure Domain with SSL (Cloud Run / VPS)
BASE_URL="https://yourdomain.com"
PORT=8000
HOST="0.0.0.0"

# Admin Secrets & Configurations
ADMIN_USER_IDS="6722340162,1070403759"
